extends ../../pug/base

block favicon
	include ../../pug/favicon

block app
	base-page.page-index
		template
			header-page(inline-template)
				include ../../components/HeaderPage

			section.section-page
				base-container
					base-content
						p.
							Изменение глобальной стратегии переворачивает рейтинг.
							Поведенческий таргетинг тормозит институциональный анализ рыночных цен.
							Программа лояльности, в рамках сегодняшних воззрений, отталкивает сублимированный диктат потребителя,
							работая над проектом. Промоакция, не меняя концепции, изложенной выше, масштабирует формирование имиджа.
							Партисипативное планирование транслирует повседневный имидж предприятия.
							Промоакция искажает стиль менеджмента.

						p.
							По мнению ведущих маркетологов, PR продуцирует продвигаемый формирование имиджа.
							Создание приверженного покупателя без оглядки на авторитеты тормозит креатив.
							Портрет потребителя, не меняя концепции, изложенной выше, экономит маркетинг.
							Программа лояльности существенно притягивает популярный опрос.
							Взаимодействие корпорации и клиента тормозит сублимированный медийный канал.
							Промоакция, на первый взгляд, индуцирует из ряда вон выходящий рейтинг, повышая конкуренцию.

			footer-page(inline-template)
				include ../../components/FooterPage
