footer.footer-page
	.row
		.col.left
			a.logo(href="http://metris.pro/")
				img.logo-img(
					src="img/metris-black.png"
					alt="Metris"
				)

		.col.center
			.content
				//-p Сообщество профессионалов недвижимости
				p
					a(
					href="https://gvate.ru/sozdanie-saytov/landing-page/"
					target="_blank"
					) Разработка Лэндингов

					| &nbsp;&mdash;&#32;
					span.developer Gvate Agency

		.col.right
			.content.text-right
				//-p
				//-	a(href="") Обратная связь
