footer.footer-page
	.row
		.col.left
			img.logo(
				src="img/metris-black.png"
				alt="Metris"
			)

		.col.center
			.content
				p Сообщество профессионалов недвижимости

		.col.right
			.content.text-right
				a(href="") Обратная связь
