header.header-page
	base-container.top
		a.logo(
			href="/"
			title="Metris"
		)
			img.logo-img(
				src="img/metris.png"
				alt="Metris"
			)

	base-container.middle
		h1.title Федера&shy;ль&shy;ный портал недвижи&shy;мос&shy;ти для профессио&shy;на&shy;лов

	base-container.bottom
		.menu
			article.menu-item
				h2.menu-item-title Агентствам
				.menu-item-icon
				base-button Хочу знать больше
				a.menu-item-link(href="") Задать вопрос

			article.menu-item
				h2.menu-item-title Агентствам
				.menu-item-icon
				base-button Хочу знать больше
				a.menu-item-link(href="") Задать вопрос

			article.menu-item
				h2.menu-item-title Агентствам
				.menu-item-icon
				base-button Хочу знать больше
				a.menu-item-link(href="") Задать вопрос
